/* ==========================================
   SLAJD 6
   POCZĄTKI ROLNICTWA
========================================== */

.image-area{

    grid-template-columns:1fr 1fr;
}


.cards-area{

    grid-template-columns:1fr 1fr;
}


@media (max-width:900px){

    .image-area{

        grid-template-columns:1fr;
    }

    .cards-area{

        grid-template-columns:1fr;
    }

}