.dictionary-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 20px;
}

.word-card img {
  max-width: 70%;
  max-height: 150px;
  margin: 10px auto;
  border-radius: 20px;
}

.word-card .pl {
  font-size: 1.3rem;
  color: rgb(65, 48, 36);
}

.word-card .ua {
  font-size: 1.1rem;
  color: rgb(110, 110, 109);
  font-style: italic;
}

@media (max-width: 768px) {
  .dictionary-grid {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  h2 {
    text-align: center;
  }
  
  .title-area {
    max-width: 500px;
  }
}
